<div id="header" ng-include src="templates.header"></div>
<div id="sidebar-wrapper" ng-include src="templates.sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="upper-page">
    <h1 class="page-header">Invoice</h1>
    <div class="button-container">
      <button type="button" class="btn  btn-primary">New Invoice</button>
      <button type="button" class="btn  btn-primary">Invoice Settings</button>
    </div>
  </div>

  <div class="main-content">
    <h4>Currently no invoices</h4>
  </div>
</div>
