<form name="infoForm"
  ng-submit="createInfo(infoForm.$valid)"
  class="form-invoice"
>
  <h4> Information </h4>
  <br />

  <input type="text" class="form-control" placeholder="Job Title"
    ng-model="infoData.jobTitle"
    required
  >
  <textarea class="form-control" placeholder="Job Description (optional)"
    ng-model="infoData.jobDesc"
    required
  >
  </textarea>

  <!-- <button type="button" class="calendar-button">
    <em class="fa fa-calendar"> </em>
  </button> -->
  <!-- 23 April 2017 -->
  <!-- {{ infoData.date | date:'dd MMMM yyyy' }}
  <br />
  <br />
  <md-datepicker ng-model="birthday"></md-datepicker>
  <br />
  <br /> -->

  <md-datepicker
    ng-model="infoDate.date"
    md-placeholder="{{ infoData.date | date:'dd MMMM yyyy' }}"
  >
  </md-datepicker>
  <br />
  <br />

  <button class="btn btn-lg btn-primary btn-block" type="sumit">
    Next
  </button>
</form>
